{% extends 'base.html' %}

{% load static %}

{% block synchronousJS %}
    <script src="{% static 'portfolio/about/about.js' %}" defer></script>
{% endblock synchronousJS %}

{% block synchronousCSS %}
    <link rel="stylesheet" href="{% static 'portfolio/about/about.css' %}">
{% endblock synchronousCSS %}

{% block content %}

    <!-- Header -->
    <header class="row mt-5">
        <h2>About</h2>
        <hr class="fw-bold">
    </header>

    <!-- About section -->
    <section class="row mb-3">
        <div class="d-inline-flex">
            <button id="gmail-btn" class="btn btn-outline-dark me-3" onclick="copyGmail()">
                <i class="me-1 bi bi-envelope-at"></i>
                <span id="gmail" class="fs-6 fw-normal">mikel.valencia02@gmail.com</span>
            </button>
            <div class="d-inline-flex social-links">
                <a class="d-inline-flex align-items-center me-3 text-black text-decoration-none" href="https://www.linkedin.com/in/mikelvalenciazabaleta/" target="_blank">
                    <i class="me-1 bi bi-linkedin"></i>
                    <span class="fs-6 fw-normal">LinkedIn</span>
                </a>
                <a class="d-inline-flex align-items-center me-3 text-black text-decoration-none" href="https://github.com/Mikel-Valencia" target="_blank">
                    <i class="me-1 bi bi-github"></i>
                    <span class="fs-6 fw-normal">Github</span>
                </a>
            </div>
        </div>
    </section>
    <section class="row">
        <p class="fs-5 fw-normal">
            Thank you for visiting my portfolio! My name is Mikel, and I'm an industrial engineer living in Spain interested 
            in mechanical engineering and software development. I'm currently working at
            <a class="d-inline-block text-primary text-decoration-none" href="https://www.itpaero.com/es/" target="_blank">
                ITP Aero
            </a>
            as a Junior Data Scientist, where I work on machine learning projects and develop Fullstack Web Applications.
        </p>
        <p class="fs-5 fw-normal">
            Besides of engineering and software development, I love music and I dedicate time to my musical studies.
            I obtained the title of Technician of the Professional Teachings of Music in the Specialty of Piano back in 2016,
            and since then I have continued training as a pianist. In addition, nowadays I also give some concerts during the 
            year.
        </p>   
    </section>

{% endblock content %}