{% extends 'base.html' %}

{% load static %}

{% block synchronousJS %}
    <script src="{% static 'portfolio/about/about.js' %}" defer></script>
{% endblock synchronousJS %}

{% block synchronousCSS %}
    <link rel="stylesheet" href="{% static 'portfolio/about/about.css' %}">
{% endblock synchronousCSS %}

{% block content %}

    <!-- About section's header -->
    <header class="row mt-5">
        <h2>About me</h2>
        <hr class="fw-bold">
    </header>

    <!-- About section -->
    <section class="row mb-3">
        <div class="d-flex flex-wrap column-gap-3 row-gap-2">
            <button id="gmail-btn" class="btn btn-outline-dark gmail-link" onclick="copyGmail()">
                <i class="me-1 bi bi-envelope-at"></i>
                <span id="gmail" class="fs-6 fw-normal">mikel.valencia02@gmail.com</span>
            </button>
            <div class="d-flex column-gap-3 social-links">
                <a class="d-inline-flex align-items-center text-black text-decoration-none" href="https://www.linkedin.com/in/mikelvalenciazabaleta/" target="_blank">
                    <i class="me-1 bi bi-linkedin"></i>
                    <span class="fs-6 fw-normal">LinkedIn</span>
                </a>
                <a class="d-inline-flex align-items-center text-black text-decoration-none" href="https://github.com/Mikel-Valencia" target="_blank">
                    <i class="me-1 bi bi-github"></i>
                    <span class="fs-6 fw-normal">Github</span>
                </a>
            </div>
        </div>
    </section>
    <section class="row">
        <p class="fs-6 fw-normal about-text">
            Thank you for visiting my portfolio! My name is Mikel, and I'm an industrial engineer living in Spain interested 
            in mechanical engineering and software development. I'm currently working at
            <a class="d-inline-block text-primary text-decoration-none" href="https://www.itpaero.com/es/" target="_blank">
                ITP Aero
            </a>
            as a Junior Data Scientist, where I work on machine learning projects and develop Fullstack Web Applications.
        </p>
        <p class="fs-6 fw-normal about-text">
            Besides of engineering and software development, I love music and I dedicate my free time to my musical studies.
            I obtained the title of Technician of the Professional Teachings of Music in the Specialty of Piano back in 2016,
            and since then I have continued training as a pianist. In addition, nowadays I give some concerts during the year.
        </p>   
    </section>

    <!-- Working experience section's header -->
    <header class="row mt-4">
        <h2>Working experience</h2>
        <hr class="fw-bold">
    </header>

    <!-- Working experience section -->
    <section class="row">
        <div class="accordion" id="working-experience-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                        <div>
                            <h4>ITP Aero</h4>
                            <p class="d-flex mb-0 working-experience-text">
                                Junior Data Scientist | September 2022 - Present
                            </p>
                        </div> 
                    </button>
                </h2>
                <div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#working-experience-accordion">
                    <div class="accordion-body">
                        <h6>Resposibilities</h6>
                        <ul class="list-group">
                            <li class="list-group-item border-0">
                                <p class="mb-0 fs-6 fw-normal working-experience-text">
                                    Responsible for the development and maintenance of a Fullstack Web Application in Python for data
                                    analytics based on SPC (Statistical Process Control) and generation of predictive models of machine
                                    learning oriented to the EDM (Electrical Discharge Machining) manufacturing process.
                                </p>
                            </li>
                            <li class="list-group-item border-0">
                                <p class="mb-0 fs-6 fw-normal working-experience-text">
                                    Performed data analysis and statistical analysis in Python oriented to the EBW (Electron Beam Welding)
                                    manufacturing process. Generation of predictive machine learning models.
                                </p>
                            </li>
                        </ul>
                        <h6 class="mt-2">Key Accomplishments</h6>
                        <ul class="list-group">
                            <li class="list-group-item border-0">
                                <p class="mb-0 fs-6 fw-normal working-experience-text">
                                    Provide EDM technologists / process engineers with an application that facilitates and enables to
                                    perform improved process data analysis, and implement statistical tools that encourage the use of
                                    good SPC practices.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                        <div>
                            <h4>ITP Aero</h4>
                            <p class="d-flex mb-0 working-experience-text">
                                Trainee Process Engineer | February 2022 - July 2022
                            </p>
                        </div> 
                    </button>
                </h2>
                <div id="collapse-1" class="accordion-collapse collapse" data-bs-parent="#working-experience-accordion">
                    <div class="accordion-body">
                        <h6>Resposibilities</h6>
                        <ul class="list-group">
                            <li class="list-group-item border-0">
                                <p class="mb-0 fs-6 fw-normal working-experience-text">
                                    Participated as a Process Engineer with a multidisciplinary team in the automation of the deburring
                                    process of an aircraft engine case.
                                </p>
                            </li>
                            <li class="list-group-item border-0">
                                <p class="mb-0 fs-6 fw-normal working-experience-text">
                                    Developed and maintaned code in Excel VBA. Performed other internal tasks, and used the company's
                                    SPC (Statistical Process Control) tools as well as workshop documentation.
                                </p>
                            </li>
                        </ul>
                        <h6 class="mt-2">Key Accomplishments</h6>
                        <ul class="list-group">
                            <li class="list-group-item border-0">
                                <p class="mb-0 fs-6 fw-normal working-experience-text">
                                    Implementation of the automatic deburring process and participation in its continuous improvement
                                    together with a multidisciplinary team.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>  
    </section>

    <!-- Skills section's header -->
    <header class="row mt-4">
        <h2>Skills</h2>
        <hr class="fw-bold">
    </header>

    <!-- Skills section -->
    <section class="row">
        <h6>Soft skills</h6>
        <h6>Technical skills</h6> 
    </section>

{% endblock content %}