.splash-screen {
	height: 100vh;
	height: 100svh;
	z-index: 2000;
}

.splash-screen svg path {
	stroke-dasharray: 110;
	animation: animate-logo 1.5s linear forwards;
}
@keyframes animate-logo {
	0% {
		stroke-dashoffset: 110;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

header {
    padding: 140px 0 140px 0;
}

.social-links a {
	font-size: 28px;
	color: black;
	transition: 500ms;
}

.social-links a:hover {
	translate: 0 -4px 0;
}