.splash-screen {
	height: 100vh;
	height: 100svh;
	z-index: 2000;
	animation: hide-splash-screen .8s ease-in;
	animation-delay: calc(150ms + 1.7s);
	animation-fill-mode: forwards;
}
@keyframes hide-splash-screen {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}

.splash-screen svg path {
	stroke-dasharray: 110;
	animation: animate-logo 1.5s linear;
	animation-delay: 150ms;
	animation-fill-mode: forwards;
}
@keyframes animate-logo {
	from {
		stroke-dashoffset: 110;
	}
	to {
		stroke-dashoffset: 0;
	}
}

header {
    padding: 140px 0 140px 0;
}

.social-links a {
	font-size: 28px;
	color: black;
	transition: 500ms;
}

.social-links a:hover {
	translate: 0 -4px 0;
}