html {
	scroll-behavior: smooth;
	scroll-padding: 13rem 0 0 0; /* height of sticky header */
}

body {
	min-height: 100vh;
	min-height: 100svh;
}

main {
	margin-top: 4.5rem;
}

.body-content {
	flex: 1;
}

footer {
	height: 80px;
}

@media (max-width: 768px) {
	footer p {
		font-size: .8rem;
	}
}