html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
}

main {
	margin-top: 4.5rem;
}

.body-content {
	flex: 1;
}

footer {
	height: 80px;
}

@media (max-width: 768px) {
	footer p {
		font-size: .8rem;
	}
}