{% load static %}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portfolio website of Mikel Valencia, an industrial engineer passionate about engineering and software development.">
        <meta name="keywords" content="Portfolio, Coding, Software Development, Industrial Engineer, Data Scientist">
        <meta name="author" content="Mikel Valencia">
        <title>Mikel Valencia - Portfolio</title>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" 
            integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer">
        </script>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        {% block synchronousJS %}{% endblock synchronousJS %}

        <link rel="stylesheet" href="{% static 'portfolio/base.css' %}">
        {% block synchronousCSS %}{% endblock synchronousCSS %}

    </head>
    
    <body class="d-flex flex-column m-0">

        {% if request.get_full_path == "/" %}
            {% include 'partials/splash_screen.html' %}
        {% endif %}
        
        <main class="container p-4 body-content">

            {% include 'partials/navbar.html' %}

            <div class="body-content">
                {% block content %}
                {% endblock content %}
            </div>

        </main>
        
        <footer class="d-flex justify-content-center align-items-center bg-dark">
            <p class="text-center text-light m-0 px-2">Copyright © 2023 Mikel Valencia. All rights reserved.</p>
        </footer>

    </body>
    
</html>